<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Order Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Customers <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
                       <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Actions-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item" [routerLink]="'/accounts'"> Accounts </a>-->
                        <!--<a class="dropdown-item" [routerLink]="'/create-account'"> Create Account </a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" [routerLink]="'/contacts'"> Contacts </a>-->
                        <!--<a class="dropdown-item" [routerLink]="'/create-contact'"> Create Contact </a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" [routerLink]="'/leads'"> Leads </a>-->
                        <!--<a class="dropdown-item" [routerLink]="'/create-lead'"> Create Lead </a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" [routerLink]="'/opportunities'"> Opportunities </a>-->
                        <!--<a class="dropdown-item" [routerLink]="'/create-opportunity'"> Create Opportunity </a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row no-gutters">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>