<div class="col-md-12">
  <h6>Manage Customers</h6>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Email Notification</th>
      <th>Mobile Notification</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td>{{user.address.street}} {{user.address.number}}<br/> {{user.address.zipCode}} {{user.address.city}}<br/>{{user.address.country}}</td>
      <td><input type="checkbox" [checked]="user.notificationEmail" disabled/> </td>
      <td><input type="checkbox" [checked]="user.notificationText" disabled/></td>
      <td>
        <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="addUser()"> Add Customer</button>

</div>
