<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Edit customer</h2>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input formControlName="name" placeholder="Name" name="name" class="form-control"
                           id="name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control"
                           id="email" required>
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile phone no.:</label>
                    <input formControlName="mobile" placeholder="Mobile phone no." name="mobile" class="form-control"
                           id="mobile" required>
                </div>

                <div class="form-group">
                    <label for="notificationEmail">Notification by email:</label>
                    <input type="checkbox" value="true" formControlName="notificationEmail" name="notificationEmail" class="form-control"
                           id="notificationEmail"/>
                </div>

                <div class="form-group">
                    <label for="notificationText">Notification by SMS:</label>
                    <input type="checkbox" value="true" formControlName="notificationText" name="notificationText" class="form-control"
                           id="notificationText"/>
                </div>

                <div formGroupName="address">
                    <div class="form-group">
                        <label>Address:</label>

                        <div class="row">
                            <div class="col-md-8">
                                <input formControlName="street" placeholder="Street" name="street"
                                       class="form-control"
                                       id="street">
                            </div>
                            <div class="col-md-4">
                                <input formControlName="number" placeholder="Number" name="number"
                                       class="form-control"
                                       id="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input formControlName="zipCode" placeholder="Zip code" name="zipCode"
                                       class="form-control"
                                       id="zipCode">
                            </div>
                            <div class="col-md-8">
                                <input formControlName="city" placeholder="City" name="city" class="form-control"
                                       id="city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input formControlName="country" placeholder="Country" name="country"
                                       class="form-control"
                                       id="country">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>